<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="Facture" connectionString="XpoProvider=MSSqlServerCE;data source=&quot;C:\Users\wajdi\Documents\Visual Studio 2015\Projects\facture\facture\bin\Debug\Facture.sdf&quot;;password=" />
    </connectionStrings>
</configuration>